.bod{
  position: relative;
  background-color: #3D6DAA;
}

.flex-container {
  display: static;
  margin: 2px;
  padding: 4% 2% 4% 2%;
  border-style: solid;
  border-width: 1.75px;
  border-color: #235799;
  background-color: #B4CEEF;

}

.rightContainer {
  width: 100%

}
.leftContainer {
  width: 100%


}
.headingTitle{
  color: #FFFFFF;
  font-size: 1.75em;
  text-shadow: .2em .2em #235799;
}

.headingOther{
  color: #062145;
}

.content {
  margin: 2px;
  padding: 4% 2% 4% 2%;
  border-style: solid;
  border-width: 1.75px;
  border-color: #235799;
  background-color: #B4CEEF;
  overflow: auto;
}

.picture {
  text-align: center;
  width: 100%
}

.header{
  width: 100%;
}

.column {
  flex-grow:1;
  flex-shrink:0;
  width: 100%;
  padding: 15px 15px 15px 15px;
}

p{
  font-family: 'Playfair Display', serif;
}

@media(min-width: 425px) and (max-width: 979px)  {


  .flex-container {
    display: flex;
    margin: 2px;
    padding: 4% 2% 4% 2%;
    border-style: solid;
    border-width: 1.75px;
    flex-wrap: wrap;
  }

  .rightContainer {
    width: 100%
  }
  .leftContainer {
    width: 100%
  }

  .content {
    margin: 2px;
    padding: 4% 2% 4% 2%;
    border-style: solid;
    border-width: 1.75px;
    overflow: auto;
  }

  .picture {
    text-align: center;
    width: 100%
  }

  .header{
    width: 100%;
  }

  .column {
    flex-grow:0;
    flex-shrink:1;
    width: 42%;
    padding: 4% 2% 2% 4%;
  }
}

@media(min-width: 980px) {


  .flex-container {
    display: flex;
    margin: .1%;
    border-style: solid;
    border-width: 1.75px;
  }

  .table-container{
    display: table;
    position: relative;
  }

  .rightContainer {
    float: right;
    width: 24%;
    
  }
  .leftContainer {
    float:left;
    width: 76%;
  }

  .content {
    margin: .1%;
    border-style: solid;
    border-width: 1.75px;
    overflow: auto;
  }

  .picture {
    text-align: center;
    width: 100%
  }

  .header{
    width: 100%;
  }

  .column {
    flex-grow:1;
    flex-shrink:0;
    width: 25%;
    padding: 15px 15px 15px 15px;
  }
}
