
.bod{
  background-color: #F7E9EA;
}

.flex-container {
  display: flex;
  margin: 2px;
  padding: 25px 25px 25px 25px;
  border-style: solid;
  border-width: 1.75px;
}

.rightContainer {
  float: right;
  width: 100%;
}
.leftContainer {
  float:left;
  width: 100%;
}

.content {
  margin: 2px;
  padding: 25px 25px 25px 25px;
  border-style: solid;
  border-width: 1.75px;
  overflow: auto;
}

.picture {
  float: right;

}

.column {
  flex-grow:1;
  flex-shrink:1;
  width: 100%;
  padding: 15px 15px 15px 15px;
}


@media (min-width: 400:px) and (max-width: 949px){

}

@media (min-width:950px){
  .bod{
    background-color: #F7E9EA;
  }

  .flex-container {
    display: flex;
    margin: 2px;
    padding: 25px 25px 25px 25px;
    border-style: solid;
    border-width: 1.75px;
  }

  .rightContainer {
    float: right;
    width: 24%;
  }
  .leftContainer {
    float:left;
    width: 76%;
  }

  .content {
    margin: 2px;
    padding: 25px 25px 25px 25px;
    border-style: solid;
    border-width: 1.75px;
    overflow: auto;
  }

  .picture {
    float: right;

  }

  .column {
    flex-grow:1;
    flex-shrink:1;
    width: 33%;
    padding: 15px 15px 15px 15px;
  }
}
